.owl-carousel .owl-controls .owl-nav {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-carousel:focus .owl-controls .owl-nav, .owl-carousel:hover .owl-controls .owl-nav, .owl-carousel:active .owl-controls .owl-nav {
  opacity: 1;
}
.owl-carousel .btn-primary:hover, .owl-carousel .btn-primary:focus, .owl-carousel .btn-primary:active {
  background: transparent !important;
  border: 2px solid #fff !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-controls .owl-nav .owl-next i:before,
.owl-carousel .owl-controls .owl-nav .owl-prev i:before {
  color: rgba(255, 255, 255, 0.5);
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  right: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
  color: white;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  left: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
  color: white;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  background: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  background: transparent;
  border: 2px solid #fff;
}

.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
  height: 800px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
    height: inherit;
    padding: 5em 0;
  }
}
.owl-carousel-fullwidth .fh5co-owl-text-wrap {
  position: relative;
}
.owl-carousel-fullwidth .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}
.owl-carousel-fullwidth .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
.owl-carousel-fullwidth .item img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .iphone-image {
  position: relative;
  z-index: 99;
}
.owl-carousel-fullwidth .item .iphone-image .iphone {
  float: right;
  text-align: right;
  position: relative;
  bottom: -12em;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .iphone-image .iphone {
    bottom: 0em;
    text-align: center;
    float: none !important;
    margin: 0 auto;
    display: block;
  }
}
.owl-carousel-fullwidth .item .iphone-image .iphone img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .fh5co-owl-text {
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}
.owl-carousel-fullwidth .item .fh5co-owl-text a {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.owl-carousel-fullwidth .item .fh5co-owl-text a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead-2, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  /* color: rgb(67,151,168); */
  font-size: 50px;
  line-height: 50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  font-size: 30px;
  line-height: 30px;
  line-height: 42px;
  font-weight: 100;
  margin-bottom: 30px;
  color: white;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
    font-size: 24px;
    line-height: 34px;
  }
}




.owl-carousel .owl-controls .owl-nav {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-carousel:focus .owl-controls .owl-nav, .owl-carousel:hover .owl-controls .owl-nav, .owl-carousel:active .owl-controls .owl-nav {
  opacity: 1;
}
.owl-carousel .btn-primary:hover, .owl-carousel .btn-primary:focus, .owl-carousel .btn-primary:active {
  background: transparent !important;
  border: 2px solid #fff !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-controls .owl-nav .owl-next i:before,
.owl-carousel .owl-controls .owl-nav .owl-prev i:before {
  color: rgba(255, 255, 255, 0.5);
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  right: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
  color: white;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  left: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
  color: white;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  background: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  background: transparent;
  border: 2px solid #fff;
}

.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
  height: 800px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
    height: inherit;
    padding: 5em 0;
  }
}
.owl-carousel-fullwidth .fh5co-owl-text-wrap {
  position: relative;
}
.owl-carousel-fullwidth .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}
.owl-carousel-fullwidth .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
.owl-carousel-fullwidth .item img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .iphone-image {
  position: relative;
  z-index: 99;
}
.owl-carousel-fullwidth .item .iphone-image .iphone {
  float: right;
  text-align: right;
  position: relative;
  bottom: -12em;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .iphone-image .iphone {
    bottom: 0em;
    text-align: center;
    float: none !important;
    margin: 0 auto;
    display: block;
  }
}
.owl-carousel-fullwidth .item .iphone-image .iphone img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .fh5co-owl-text {
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}
.owl-carousel-fullwidth .item .fh5co-owl-text a {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.owl-carousel-fullwidth .item .fh5co-owl-text a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead-2, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 50px;
  line-height: 50px;
  /* color: rgb(67,151,168);; */
  color: white;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  font-size: 30px;
  line-height: 30px;
  line-height: 42px;
  font-weight: 100;
  margin-bottom: 30px;
  color: white;/*rgb(177,209,124);*/
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
    font-size: 24px;
    line-height: 34px;
  }
}
